streamlit==1.33.0

# Core
numpy
pandas
Pillow

# Deep Learning (CPU versions auto-installed on Streamlit Cloud)
torch
torchvision

# YOLO
ultralytics

# FIX for libGL issue
opencv-python-headless

# Utils
python-dotenv
